.class{

	&__container{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		margin: 0 auto;
		background: var(--col-FBF9F7);
		// display: flex;
	}

	&__block{
		grid-column: 2/12;
		height: 80vh;
		align-items: center;
		display: grid;

		&--content{
			display: flex;
			background-color: var(--white);
			border-radius: 24px;

			img{
				width: 30%;
				border-top-left-radius: 24px;
				border-bottom-left-radius: 24px;
			}
		}

		&--text{
			padding: 8.8em 6.4em;

			h3{
				margin-bottom: 0.19em;
			}

			h6{
				margin-bottom: 1.46em;
				color: var(--col-696969);
				font-weight: $font-normal;
			}

			p{
				color: var(--col-696969);
			}
		}

		&--list{
			margin-top: 3.2em;
			margin-bottom: 5.6em;
			display: flex;
			list-style: none;
			padding: 0;

			li{
				border: 1px solid var(--col-E7E7E7);
				padding: 1.6em;
				width: 140px;
				border-radius: 12px;
				text-align: center;

				&:not(:last-child){
					margin-right: 24px;
				}

				label{
					display: block;
					margin-bottom: 4px;
					margin-top: 8px;
					font-size: 1.6rem;
					font-weight: $font-bold;
				}

				p{
					font-size: 1.4rem;
					color: var(--col-696969);
				}
			}
		}

		&--cta{
			display: inline-flex;
			background-color: var(--col-2ECB92);
			position: relative;
			padding: 12px 32px;
			font-size: 2.2em;
			font-weight: $font-bold;
			border-radius: 3.2em;
			color: var(--white);
			transition: all .25s ease-in-out;
			overflow: hidden;

			&::before {
				display: flex;
				align-items: center;
				width: 25px;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				content: "→";
				text-indent: -8px;
				border-radius: 0 50% 50% 0;
				background-color: transparent;
				transform: translate(-20%, 0) scale(0, 1);
				transform-origin: left center;
				transition: all 0.25s;
				z-index: 1;
			}
			&:hover {
				padding-right: 48px;
				text-indent: -8px;
				transition: all .25s ease-in-out;
				// background: var(--col-2ECB92);
				color: var(--white);
				
				&::before {
					transform: translate(-20%, 0) scale(1, 1);
					color: var(--white);
				}
			}
		}
	}
}

.detail{
	&__block{
		grid-column: 2/12;
		display: inline-grid;
		grid-template-columns: repeat(8, 1fr);
		align-content: center;
		align-items: start;
		grid-gap: 4.0em;

		&--divide{
			grid-column: 1/6;
		}

		&--content{
			margin-bottom: 5.6em;
			background: var(--white);
			padding: 3.2em 4em;
			border-radius: 16px;
		}

		&--list{
			margin-top: 3.2em;
			list-style-type: none;
			padding: 0;

			li{
				display: flex;
				align-items: center;

				p{
					color: var(--col-696969);
				}

				&:not(:last-child){
					border-bottom: 1px solid var(--col-E7E7E7);
					padding-bottom: 2.4em;
				}

				&:not(:first-child){
					padding-top: 2.4em;
				}
			}

			&--img{
				border: 1px solid var(--col-E7E7E7);
				border-radius: 12px;
				padding: 1.6em;
				margin-right: 2.4em;
				text-align: center;
				font-size: 1.1rem;
				flex: none;

				label{
					display: block;
					font-weight: $font-bold;
					margin-top: 8px;
					margin-bottom: 4px;
				}
			}
		}
	}
}

.float{
	&__block{
		grid-column: 6/12;
		background-color: var(--white);
		border-radius: 16px;
		padding: 3.2em 4em;
		position: sticky;
		top: 156px;

		h5{
			margin-bottom: 8px;
		}

		> p{
			color: var(--col-696969);
		}

		&--list{
			list-style-type: none;
			padding-left: 0;

			li{
				display: flex;
				margin-top: 2.4em;
				margin-bottom: 3.2em;

				p{
					margin-left: .6em;
				}

				&:not(:last-child){
					margin-bottom: 1.6em;
				}
			}
		}
	}
}