.footer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 9em 0 12em;
    background-color: var(--col-2C3934);

    &__block1{
        grid-column: 2/8;
        color: var(--white);
    }

    &__about{
        margin-bottom: 4.8em;
        h5{
            color: var(--white);
            margin-bottom: 0.5em;
        }

        p{
            &:not(:last-child){
                margin-bottom: 1.5em;
            }
        }
    }

    &__quick{
        h5{
            color: var(--white);
            margin-bottom: 0.5em;
        }

        &--list{
            display: flex;
            padding-left: 0;
            list-style-type: none;

            li{
                a{
                    font-size: 1.6rem;
                    color: var(--white);
                    text-decoration: none;
                    transition: all .2s ease-in-out;

                    &:hover{
                        color: var(--col-E7E7E7);
                    }
                }
                &:not(:last-child){
                    margin-right: 2.4em;
                }
            }
        }
    }

    &__block2{
        grid-column: 9/12;
        color: var(--white);
        text-align: right;
        padding-left: 5em;

        h5{
            color: var(--white);
            margin-bottom: 0.5em;
        }

        p{
            a{
                font-size: 1.6rem;
                color: var(--white);
                text-decoration: none;
                display: block;
                margin-top: 2em;
                font-weight: $font-semi-bold;
            }
        }

        &--list{
            display: flex;
            list-style-type: none;
            padding-left: 0;
            justify-content: end;
            margin-top: 4.8em;

            li{
                background-color: var(--white);
                border-radius: 4px;
                width: 52px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;

                a{
                    padding: 1.3em;
                }

                &:not(:last-child){
                    margin-right: 20px;
                }
            }
        }
    }
}