.goals{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 9em 0 12em;

    h3, h4{
        grid-column: 2/12;
    }

    h4{
        font-weight: $font-medium;
    }

    &__content{
        grid-column: 2/7;
        margin-top: 8em;

        h5{
            margin-bottom: .19em;
            font-weight: $font-semi-bold;
        }

        p{
            font-size: 2.2rem;
            color: var(--col-696969);
            font-weight: $font-medium;
        }

        &--info{
            margin: 3.2em 0 4.8em;
            p{
                font-size: 1.6rem;
                color: var(--col-696969);
                &:not(:last-child){
                    margin-bottom: 1.5em;
                }
            }
        }
    }

    &__certification{
        padding: 0;
        list-style: none;

        li{
            display: flex;
            align-items: center;

            &:not(:last-child){
                margin-bottom: 1.5em;
            }
        }

        p{
            font-size: 1.6rem;
            color: var(--col-696969);
        }

        &--image{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--col-E7E7E7);
            border-radius: 4px;
            padding: .4em 1.4em;
            margin-right: 2.4em;
            width: 9em;
            height: 5em;
        }

        &--text{
            font-size: 3rem;
            margin-top: -6px;
            font-weight: 700;
        }
    }

    &__social{
        padding: 0;
        list-style: none;
        display: flex;
        margin-top: 8em;

        li{
            border: 1px solid var(--col-E7E7E7);
            border-radius: 4px;
            height: 52px;
            width: 52px;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                padding: 1.3em;
            }

            &:not(:last-child){
                margin-right: 1.5em;
            }
        }
    }

    &__image{
        grid-column: 7/13;
        position: relative;
        text-align: center;

        img{
            position: absolute;
            top: 60px;
            width: 60%;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}