.goals{
    grid-column: 2/12;
    padding: 9em 0 12em;

    h3, h4{
        // grid-column: 2/12;
    }

    h4{
        font-weight: $font-medium;
    }

    &__block{
        display: flex;
        padding: 6.4rem;
        background-color: var(--white);
        border-radius: 12px;
        align-items: center;
        margin-top: 5.6em;

        &--content{
            margin-left: 5.6em;

            h5{
                font-weight: $font-semi-bold;
            }
    
            p{
                font-size: 2.2rem;
                color: var(--col-696969);
                font-weight: $font-medium;
            }
        }


        &--info{
            margin-bottom: 2.4em;
            p{
                font-size: 1.6rem;
                color: var(--col-696969);
                &:not(:last-child){
                    margin-bottom: 1.5em;
                }
            }
        }
    }

    &__certification{
        padding: 0;
        list-style: none;
        display: flex;
        margin-top: 5.6em;

        li{
            display: flex;
            align-items: center;

            &:first-child{
                margin-right: 2.4em;
            }
        }

        p{
            font-size: 1.6rem;
            color: var(--col-696969);
        }

        &--image{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 8px;
            padding: 1.6em;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);

            p{
                margin-top: 1em;
            }
            
        }

        &--text{
            font-size: 3rem;
            margin-top: -6px;
            font-weight: 700;
        }
    }

    &__social{
        padding: 0;
        list-style: none;
        display: flex;

        li{

            a{
                padding: 12px;
                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
                border-radius: 8px;
                width: 56px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:not(:last-child){
                margin-right: 1.5em;
            }
        }
    }

    &__image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4em 0 0;
        flex-direction: column;
        background-color: var(--col-2C3934);
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        h5{
            padding: .75em 0;
            background: var(--white);
            width: 100%;
            text-align: center;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        img{
            padding: 0 6.4em;
        }
    }
}

@media screen and (max-width: 1280px){
    .goals{
        padding: 0 0 12em;

        &__image{
            width: 50%;
        }

        &__block{
            margin-top: 3.2em;
            flex-direction: column;

            &--content{
                margin-left: 0;
                margin-top: 8em;
                text-align: center;
            }
        }

        &__social{
            justify-content: center;
        }

        &__certification{
            justify-content: center;
        }
    }
}

@media screen and (max-width: 980px){
    .goals{
        &__block{
            &--content{
                margin-top: 4em;
            }
        }

        &__image{
            width: 78%;
        }

        h5{
            font-size: 2.4rem;
        }
    }
}

@media screen and (max-width: 520px){
    .goals{
        &__image{
            width: 100%;
            background: none;
            box-shadow: none;
            padding: 0;

            img{
                padding: 0;
            }
        }

        &__block{
            &--content{
                margin-top: 0.8em;
            }
        }
        &__certification{
            flex-direction: column;
            li{
                &:first-child{
                    margin-right: 0;
                    margin-bottom: 2.4em;
                }
            }
            &--image{
                align-items: center;
                width: 100%;
            }
        }
        h5{
            font-size: 1.6rem;
            font-weight: $font-normal;
        }
    }
}