.testimonials{
    grid-column: 2/12;
    padding: 9em 0 12em;
    background-color: var(--col-FBF9F7);

    h3, h4{
        grid-column: 2/12;
    }

    h4{
        font-weight: $font-medium;
    }

    &__scroller{
        grid-column: 2/12;
        margin-top: 5.6em;
        position: relative;

        ul{
            list-style-type: none;
            padding: 0;
            display: flex;
        }

        &--profile{
            margin-top: 3.2em;
            display: flex;
            align-items: center;

            img{
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }

            &-block{

                label{
                    font-size: 1.6rem;
                    font-weight: $font-medium;
                }

                p{
                    font-size: 1.2rem;
                    margin-top: .2em;
                    color: var(--col-696969);
                }
            }
        }
    }
}

.scroller{
    &__content{
        background-color: var(--white);
        border-radius: 12px;
        padding: 3.2em;
        width: calc(100% / 3);

        &:not(:last-child){
            margin-right: 2.5em;
        }

        h6{
            font-weight: $font-semi-bold;
            margin-bottom: .75em;
        }

        &--text{
            font-size: 1.6rem;
            line-height: 1.4;
            color: var(--col-696969);

            &:not(:last-child){
                margin-bottom: 1.2em;
            }
        }
    }
}

.showSlide {  
    display: none  
}  

.slidercontainer {  
    width: calc(100% - 16em); 
    position: relative;  
    margin: auto;  
}  
.left, .right {  
    cursor: pointer;  
    position: absolute;  
    top: 50%;
    font-weight: $font-semi-bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 6px;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--col-1E1E1E);
    background-color: var(--white);  
}  
.right {  
    right: 0;
}  


.active {  
    background-color: #717171;  
}

.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}

@media screen and (max-width: 1280px){
    .testimonials{
        padding: 0 0 12em;

        &__scroller{
            margin-top: 3.2em;

            ul{
                flex-direction: column;
            }
        }
    }

    .scroller{
        &__content{
            width: 100%;
            &:not(:last-child){
                margin-right: 0;
                margin-bottom: 2.5em;
            }
        }
    }
}

@media screen and (max-width: 520px){
    .slidercontainer{
        width: calc(100% - 4em);
    }
    .left, .right{
        color: var(--white);
        background-color: var(--col-2C3934);
    }
}